@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-body;
  }
}

@layer components {
  .button {
    @apply h-[53px] w-[180px] border-[3px] border-yellow bg-yellow font-mono font-bold text-white hover:bg-transparent hover:text-yellow;
  }

  /* Custom marker */
  .marker {
    list-style-type: none;
  }

  .marker:after {
    content: url("/src/assets/icons/arrow.svg");
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  [open] .marker:after {
    top: calc(50% - 24px);
    transform: rotate(180deg) translateY(-50%);
  }
}
